// Resources
params {
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'
}

process {
    withName: 'BCFTOOLS_CONSENSUS' {
        ext.args = '-i\'QUAL>1 && (GT="AA" || GT="Aa")\' -Hla'
    }
    withName: 'BCFTOOLS_INDEX' {
        ext.args = '--tbi'
    }
    withName: 'BCFTOOLS_VIEW' {
        ext.args = '--no-version -e\'type="ref"||REF~"N"\''
    }
    withName: 'BCFTOOLS_NORM' {
        ext.args = '--no-version'
    }
}

// Singularity
singularity.enabled    = true
singularity.autoMounts = true
singularity.runOptions = '--bind /lustre --bind /nfs'
