// Resources
params {
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'
}

process {
    withName: 'COOLER_CLOAD' {
        ext.args = 'pairs -0 -c1 2 -p1 3 -c2 6 -p2 7'
    }
    withName: 'PRETEXT_SNAPSHOT' {
        ext.args = '--sequences \"=full\"'
    }
    withName: 'JUICER_TOOLS_PRE' {
        ext.juicer_tools_jar = 'juicer_tools.1.9.9_jcuda.0.8.jar'
        ext.juicer_jvm_params = '-Xms6g -Xmx48g'
    }
    withName: 'JUICER_SNAPSHOT' {
        ext.juicer_snapshot_jar = 'JuiceboxSnapshot-1.0.jar'
        ext.juicer_jvm_params = '-Xmx4g'
    }
    withLabel: process_medium {
      memory = 60.GB
      queue = 'long'
      executor = 'lsf'
    }
}

// Singularity
singularity.enabled    = true
singularity.autoMounts = true
singularity.runOptions = '--bind /lustre --bind /nfs'
