/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running longranger on LSF at the Sanger
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    longranger_container_path = "gitlab-registry.internal.sanger.ac.uk/tol-it/software/docker-images/longranger:2.2.2-c4"
}

process {
    withName: LONGRANGER_ALIGN {
        // Same arguments as in conf/modules.config but with the LSF job mode
        ext.args = "--disable-ui --nopreflight --jobmode=lsf"
    }
}

singularity {
    // Make the LSF configuration available to the container / longranger
    envWhitelist = "LSF_BINDIR,LSF_SERVERDIR,LSF_LIBDIR,LSF_ENVDIR"
    runOptions   = [
        "-B ${projectDir}/assets/martian.lsf.template:/opt/longranger-2.2.2/martian-cs/2.3.2/jobmanagers/lsf.template",
        "-B /software",
        "-B /etc/lsf.conf",
        "--env APPEND_PATH=$LSF_BINDIR:$LSF_SERVERDIR:/software/singularity/3.11.4/bin"
    ].join(" ").trim()
}
