/*

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*:INDEX_STAGE' {
        ext.prefix = { "${spec.id}" }
        tag = { "${spec.id}" }
    }

    withName: '.*:INDEX_SPEC' {
        ext.prefix = { "${spec.name}" }
        tag = { "${spec.name}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:GENOME_STATISTICS:ASMSTATS' {
        ext.prefix = { "${assembly.getName()}" }
        tag        = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:GENOME_STATISTICS:GFASTATS' {
        ext.prefix = { "${assembly.getName()}" }
        tag        = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:GENOME_STATISTICS:BUSCO_BUSCO' {
        ext.prefix = "asm"
        ext.args = {
            [
                params.busco_lineage_directory ? "--offline" : "",
                "--skip_bbtools" // Temporary until https://gitlab.com/ezlab/busco/-/issues/821 fixed
            ].join(" ").trim()
        }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:GENOME_STATISTICS:MERQURYFK_MERQURYFK' {
        errorStrategy = "ignore" // TEMPORARY
        ext.args = "-v"
        ext.prefix = {
            def read_prefix = meta.data.long_read.platform == "pacbio_hifi" ? "ccs" : "ont"
            return "asm.${read_prefix}"
        }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:HIFIASM_ASSEMBLY:BGZIP_HIFIASM' {
        ext.prefix = { "${input.getBaseName()}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:HIFIASM_ASSEMBLY:HIFIASM' {
        ext.prefix = "asm"
        ext.args   = {
            [
                meta.data.long_read.platform == "oxford_nanopore" ? "--ont" : "",
                meta.params.hifiasm_bin_arguments ?: "",
                meta.params.hifiasm_arguments ?: ""
            ].join(" ").trim()
        }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:HIFIASM_ASSEMBLY:HIFIASM_BIN' {
        ext.prefix = "asm"
        ext.args   = {
            [
                "--bin-only",
                meta.data.long_read.platform == "oxford_nanopore" ? "--ont" : "",
                meta.params.hifiasm_bin_arguments ?: ""
            ].join(" ").trim()
        }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:MITOHIFI_ASSEMBLY:MITOHIFI_FINDMITOREFERENCE' {
        errorStrategy = "ignore"
        ext.args      = { "--min_length ${params.mitohifi_min_ref_len}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:MITOHIFI_ASSEMBLY:MITOHIFI_MITOHIFI' {
        ext.prefix  = { "mitohifi" }
        ext.args    = {
            [
                meta.params.mitohifi_arguments ?: ""
            ].join(' ').trim()
        }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:POLISHING:FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:SEPARATE_HAPLOTYPES' {
        ext.prefix = { "asm_${meta._hap}" }
        tag        = { "${meta.id}_${meta._hap}" }
        ext.args   = {
            // Generate an index of haps and their contig prefixes
            def hap_patterns = (1..meta._nhaps).collectEntries { n ->
                def pattern = "^h${n}tg"
                if (n == 1) pattern = "${pattern}|^ptg"
                else if (n == 2) pattern = "${pattern}|^atg"

                return ["hap" + n, pattern]
            }

            return "-rp '${hap_patterns[meta._hap]}'"
        }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:POLISHING:FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:BCFTOOLS_CONSENSUS' {
        // Filter by mapping quality, keep alt-alt het and alt-alt hom,
        // keep longer allele
        ext.args = '-i\'QUAL>1 && (GT="AA" || GT="Aa")\' -Hla'
        ext.prefix = { "asm.consensus"   }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:POLISHING:FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:BCFTOOLS_INDEX_FB' {
        ext.prefix = { "asm.${meta.chunk_id}" }
        ext.args   = { "--tbi" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:POLISHING:FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:BCFTOOLS_INDEX_NORM' {
        ext.prefix = { "asm.${meta.chunk_id}" }
        ext.args   = { "--tbi" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:POLISHING:FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:BCFTOOLS_NORM' {
        ext.prefix = { "asm.normalised"  }
        ext.args = '--no-version'
    }

    withName: '.*:NUCLEAR_ASSEMBLY:POLISHING:FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:BCFTOOLS_SORT' {
        ext.prefix = { "asm.${meta.chunk_id}_sorted" }
        scratch = true
    }

    withName: '.*:NUCLEAR_ASSEMBLY:POLISHING:FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:BCFTOOLS_VIEW' {
        ext.prefix = { "asm.${meta.chunk_id}_view" }
        // Dont keep command line information, keep reference allele or
        // suggested alternative if reference is N
        ext.args = '--no-version -e\'type="ref"||REF~"N"\''
    }

    withName: '.*:NUCLEAR_ASSEMBLY:POLISHING:FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:FREEBAYES' {
        ext.prefix = { "asm"                                    }
        ext.args   = { "--skip-coverage ${meta.longranger_cov}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:POLISHING:FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:GATK4_MERGE_FREEBAYES' {
        ext.prefix = { "asm.merged"   }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:POLISHING:FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:LONGRANGER_MKREF' {
        container  = params.polishing_longranger_container_path
    }

    withName: '.*:NUCLEAR_ASSEMBLY:POLISHING:FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:LONGRANGER_ALIGN' {
        ext.prefix = "asm"
        container  = params.polishing_longranger_container_path
        ext.args   = "--disable-ui --nopreflight"
    }

    withName: '.*:NUCLEAR_ASSEMBLY:PURGING:BGZIP_PURGED' {
        ext.prefix = { "${input.getBaseName()}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:PURGING:FASTA_PURGE_RETAINED_HAPLOTYPE:CONCATENATE_HAPLOTYPES' {
        ext.prefix = { "asm.htigs.all.fa"  }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:PURGING:FASTA_PURGE_RETAINED_HAPLOTYPE:FASTX_MAP_LONG_READS:FASTXALIGN_MINIMAP2ALIGN' {
        ext.args = {
            [
                meta.data.long_read_platform == "pacbio_hifi" ? "-x map-hifi" : "-x ${params.ont_minimap2_map_mode}",
                "-I" + Math.ceil(reference.size()/1e9) + "G"
            ].join(' ').trim()
        }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:PURGING:FASTA_PURGE_RETAINED_HAPLOTYPE:FASTX_MAP_LONG_READS:MINIMAP2_INDEX' {
        ext.args = {
            [
                meta.data.long_read_platform == "pacbio_hifi" ? "-x map-hifi" : "-x ${params.ont_minimap2_map_mode}",
                "-I" + Math.ceil(reference.size()/1e9) + "G"
            ].join(' ').trim()
        }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:PURGING:FASTA_PURGE_RETAINED_HAPLOTYPE:FASTX_MAP_LONG_READS:FASTXALIGN_PYFASTXINDEX' {
        tag        = { "${fastx.getName()}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:PURGING:FASTA_PURGE_RETAINED_HAPLOTYPE:MINIMAP2_ALIGN_ASSEMBLY' {
        ext.args   = { "-xasm5 -DP -I" + Math.ceil(reads.size()/1e9) + "G" }
        ext.prefix = { "asm.self_aln"                                      }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:PURGING:FASTA_PURGE_RETAINED_HAPLOTYPE:PURGEDUPS_PBCSTAT' {
        ext.prefix = "asm"
    }

    withName: '.*:NUCLEAR_ASSEMBLY:PURGING:FASTA_PURGE_RETAINED_HAPLOTYPE:PURGEDUPS_CALCUTS' {
        ext.args = {
            def cut_list = meta.params.purging_cutoffs.split(",")

            if(cut_list.size() != 3) {
                log.error("Error: only ${cut_list.size()} cutoffs provided instead of 3.")
            }

            def l = cut_list[0] ? "-l ${cut_list[0]}" : ""
            def m = cut_list[1] ? "-m ${cut_list[1]}" : ""
            def u = cut_list[2] ? "-u ${cut_list[2]}" : ""

            return "${l} ${m} ${u}".trim()
        }
        ext.prefix = { "asm" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:PURGING:FASTA_PURGE_RETAINED_HAPLOTYPE:PURGEDUPS_PURGEDUPS' {
        ext.prefix = { "asm" }
        ext.args   = "-2"
    }

    withName: '.*:NUCLEAR_ASSEMBLY:PURGING:FASTA_PURGE_RETAINED_HAPLOTYPE:PURGEDUPS_SPLITFA' {
        ext.prefix = { "asm.self_aln" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:PURGING:FASTA_PURGE_RETAINED_HAPLOTYPE:PURGEDUPS_GETSEQS' {
        ext.prefix = "asm"
        ext.args   = { meta.params.purge_middle ? "" : "-e" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:PURGING:FASTA_PURGE_RETAINED_HAPLOTYPE:PURGEDUPS_HISTPLOT' {
        ext.prefix = "asm"
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
        ext.prefix = { "asm_${meta._hap}" }
        tag        = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
        ext.prefix = { "asm_${meta._hap}" }
        tag        = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
        ext.args   = "-F 0xB00"
        ext.prefix = { "asm_${meta._hap}" }
        tag        = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:BGZIP_SCAFFOLDED' {
        ext.prefix = { "${input.getBaseName()}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:CRAM_MAP_ILLUMINA_HIC:BAM_SAMTOOLS_MERGE_MARKDUP:SAMTOOLS_FAIDX' {
        tag        = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:CRAM_MAP_ILLUMINA_HIC:BAM_SAMTOOLS_MERGE_MARKDUP:SAMTOOLS_INDEX' {
        tag        = { "{meta.id}_${meta._hap}" }
        ext.args   = { "-c" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:CRAM_MAP_ILLUMINA_HIC:BAM_SAMTOOLS_MERGE_MARKDUP:SAMTOOLS_MARKDUP' {
        ext.prefix = { "asm_${meta._hap}" }
        tag        = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:CRAM_MAP_ILLUMINA_HIC:BAM_SAMTOOLS_MERGE_MARKDUP:SAMTOOLS_MERGE' {
        ext.prefix = { "asm_${meta._hap}_merged" }
        ext.args   = "--write-index"
        tag        = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:CRAM_MAP_ILLUMINA_HIC:BAM_SAMTOOLS_MERGE_MARKDUP:SAMTOOLS_MERGEDUP' {
        ext.prefix = { "asm_${meta._hap}_merged" }
        ext.args2  = "--write-index"
        tag        = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:CRAM_MAP_ILLUMINA_HIC:BWAMEM2_INDEX' {
        tag = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:CRAM_MAP_ILLUMINA_HIC:CRAMALIGN_BWAMEM2ALIGNHIC' {
        ext.args1  = ""
        ext.args2  = "-F0xB00 -nt"
        ext.args3  = "-5SPp"
        ext.args4  = "-mpu"
        ext.args6  = "--write-index -l1"
        ext.prefix = { "${cram.getName()}.${meta.id}.${meta._hap}.${chunkn}" }
        tag        = { "${cram.getName()}.${meta.id}.${meta._hap}.${chunkn}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:CRAM_MAP_ILLUMINA_HIC:CRAMALIGN_MINIMAP2ALIGNHIC' {
        ext.args1  = ""
        ext.args2  = "-F0xB00 -nt"
        ext.args3  = "--no-pairing -ax sr"
        ext.args4  = "-mpu"
        ext.args6  = "--write-index -l1"
        ext.prefix = { "${cram.getName()}.${meta.id}.${meta._hap}.${chunkn}" }
        tag        = { "${cram.getName()}.${meta.id}.${meta._hap}.${chunkn}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:CRAM_MAP_ILLUMINA_HIC:MINIMAP2_INDEX' {
        ext.args = {  "-x sr -I" + Math.ceil(fasta.size()/1e9)+"G" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:CRAM_MAP_ILLUMINA_HIC:SAMTOOLS_INDEX' {
        tag      = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:CRAM_MAP_ILLUMINA_HIC:SAMTOOLS_SPLITHEADER' {
        ext.prefix = { "${input.getName()}" }
        tag        = { "${input.getName()}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:FASTA_BAM_SCAFFOLDING_YAHS:BEDTOOLS_BAMTOBEDSORT' {
        ext.args1  = { "-u -q ${params.hic_mapping_minq} -F0x400" }
        ext.args2  = ""
        ext.args3  = "-k4,4"
        ext.prefix = { "asm_${meta._hap}" }
        tag        = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:FASTA_BAM_SCAFFOLDING_YAHS:SAMTOOLS_FAIDX_CONTIGS' {
        tag = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:FASTA_BAM_SCAFFOLDING_YAHS:SAMTOOLS_FAIDX_SCAFFOLDS' {
        tag = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:FASTA_BAM_SCAFFOLDING_YAHS:YAHS' {
        ext.args = { meta.params.yahs_arguments ?: "" }
        ext.prefix = { "asm_${meta._hap}" }
        tag = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:FASTA_BAM_SCAFFOLDING_YAHS:YAHS_MAKEPAIRSFILE' {
        ext.prefix = { "asm_${meta._hap}" }
        tag        = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:FASTA_BAM_SCAFFOLDING_YAHS:PAIRS_CREATE_CONTACT_MAPS:COOLER_CLOAD' {
        // Positions in the input file are zero-based;
        // chrom1 field number (one-based) is 2;
        // pos1 field number (one-based) is 3;
        // chrom2 field number (one-based) is 6;
        // pos2 field number (one-based) is 7
        ext.args = '-0 -c1 2 -p1 3 -c2 4 -p2 5'
        ext.prefix = { "asm_${meta._hap}" }
        tag        = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:FASTA_BAM_SCAFFOLDING_YAHS:PAIRS_CREATE_CONTACT_MAPS:COOLER_ZOOMIFY' {
        ext.prefix = { "asm_${meta._hap}" }
        tag        = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:FASTA_BAM_SCAFFOLDING_YAHS:PAIRS_CREATE_CONTACT_MAPS:GAWK_PROCESS_PAIRS_FILE' {
        ext.prefix = { "asm_${meta._hap}.no_chr_sizes" }
        ext.suffix = "pairs.gz"
        tag        = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:FASTA_BAM_SCAFFOLDING_YAHS:PAIRS_CREATE_CONTACT_MAPS:JUICERTOOLS_PRE' {
        ext.prefix = { "asm_${meta._hap}" }
        tag        = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:FASTA_BAM_SCAFFOLDING_YAHS:PAIRS_CREATE_CONTACT_MAPS:PRETEXTMAP' {
        ext.args = ''
        ext.prefix = { "asm_${meta._hap}" }
        tag        = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:NUCLEAR_ASSEMBLY:SCAFFOLDING:FASTA_BAM_SCAFFOLDING_YAHS:PAIRS_CREATE_CONTACT_MAPS:PRETEXTSNAPSHOT' {
        // Make one plot containing all sequences
        ext.args = '--sequences \"=full\"'
        ext.prefix = { "asm_${meta._hap}.pretext." }
        tag        = { "${meta.id}_${meta._hap}" }
    }

    withName: '.*:ORGANELLE_ASSEMBLY:MITOHIFI_ASSEMBLY:MITOHIFI_FINDMITOREFERENCE' {
        errorStrategy = 'ignore'
        ext.args      = { "--min_length ${params.mitohifi_min_ref_len}" }
    }

    withName: '.*:ORGANELLE_ASSEMBLY:MITOHIFI_ASSEMBLY:MITOHIFI_MITOHIFI' {
        errorStrategy = 'ignore'
        ext.prefix    = "mitohifi"
        ext.args = {
            [
                meta.params.mitohifi_args ?: ""
            ].join(' ').trim()
        }
    }

    withName: '.*:ORGANELLE_ASSEMBLY:OATK_ASSEMBLY:BANDAGE_IMAGE' {
        ext.prefix = { "${gfa.getBaseName()}" }
    }

    withName: '.*:ORGANELLE_ASSEMBLY:OATK_ASSEMBLY:OATK' {
        ext.prefix = { "asm.k${meta.params.oatk_kmer_size}_c${meta.params.oatk_coverage_cutoff}" }
        ext.args = {
            [
                "-k ${meta.params.oatk_kmer_size}",
                "-c " + meta.params.oatk_coverage_cutoff,
                "-Ttmp"
            ].join(' ').trim()
        }
    }

    withName: '.*:PREPARE_INPUTS:FASTK_HISTEX' {
        ext.prefix = { "${meta.id}.${meta.platform}.k${meta.kmer_size}" }
        ext.args   = "-G"
        tag        = { "${meta.id}.${meta.platform}.k${meta.kmer_size}" }
    }

    withName: '.*:PREPARE_INPUTS:GENOMESCOPE2' {
        ext.prefix = { "${meta.id}.${meta.platform}.k${meta.kmer_size}" }
        ext.args   = {
            [
                "-k${meta.kmer_size}",
                "--json_report",
                params.genomescope_args ?: ""
            ].join(" ")
        }
        tag        = { "${meta.id}.${meta.platform}.k${meta.kmer_size}" }
    }

    withName: '.*:PREPARE_INPUTS:BUILD_KMER_DATABASES:FASTK_FASTK' {
        ext.args   = { "-k${params.kmer_size} -t -P." }
        ext.prefix = { "fastk" }
        tag        = { "${meta.id}.${meta.platform}.k${params.kmer_size}" }
    }

    withName: '.*:PREPARE_INPUTS:BUILD_KMER_DATABASES:MERQURYFK_HAPMAKER' {
        ext.prefix = { "${meta.id}.${meta.platform}.k${meta.kmer_size}" }
        tag        = { "${meta.id}.${meta.platform}.k${meta.kmer_size}" }
    }

    withName: '.*:PREPARE_INPUTS:BUILD_KMER_DATABASES:YAK_COUNT' {
        ext.prefix = { "${meta.id}.${meta.platform}.k${params.kmer_size}" }
        ext.args   = { "-k${params.kmer_size}"                             }
        tag        = { "${meta.id}.${meta.platform}.k${params.kmer_size}" }
    }

}
