/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    // Set up of kmer profile
    withName: FASTK_FASTK {
        ext.args   = "-k31 -t"
        publishDir = [
            path: { "${params.outdir}/kmer" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTK_HISTEX {
        ext.args = "-G"
        publishDir = [
            path: { "${params.outdir}/kmer" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    withName: GENESCOPEFK {
        ext.args = "-k31"
        publishDir = [
            path: { "${params.outdir}/kmer" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    // End of Set up of kmer profile

    // Set up of the raw assembly pipeline
    withName: HIFIASM_PRI {
        ext.args = "--primary"
        publishDir = [
            path: { "${params.outdir}/hifiasm" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: HIFIASM_HIC {
        ext.args = "--primary"
        publishDir = [
            path: { "${params.outdir}/hifiasm-hic" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*RAW_ASSEMBLY:GFA_TO_FASTA_PRI' {
        ext.prefix = { "${meta.id}.asm.p_ctg" }
        publishDir = [
            path: { "${params.outdir}/hifiasm" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*RAW_ASSEMBLY:GFA_TO_FASTA_ALT' {
        ext.prefix = { "${meta.id}.asm.a_ctg" }
        publishDir = [
            path: { "${params.outdir}/hifiasm" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*RAW_ASSEMBLY:GFA_TO_FASTA_.*HIC' {
        publishDir = [
            path: { "${params.outdir}/hifiasm-hic" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*GENOME_STATISTICS_RAW:GFASTATS_PRI' {
        ext.prefix = { "${meta.id}.asm.p_ctg" }
        publishDir = [
            path: { "${params.outdir}/hifiasm" },
            mode: params.publish_dir_mode,
            pattern: '*assembly_summary'
        ]
    }

    withName: '.*GENOME_STATISTICS_RAW:GFASTATS_HAP' {
        ext.prefix = { "${meta.id}.asm.a_ctg" }
        publishDir = [
            path: { "${params.outdir}/hifiasm" },
            mode: params.publish_dir_mode,
            pattern: '*assembly_summary'
        ]
    }

    withName: '.*GENOME_STATISTICS_RAW:BUSCO' {
        publishDir = [
            path: { "${params.outdir}/hifiasm/${meta.id}.p_ctg.busco" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*GENOME_STATISTICS_RAW:MERQURYFK_MERQURYFK' {
        publishDir = [
            path: { "${params.outdir}/hifiasm/${meta.id}.p_ctg.ccs.merquryk" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    // End of Set up of the raw assembly pipeline

    // Set up of the purging pipeline

    withName: '.*PURGE_DUPS_PRI:MINIMAP2_ALIGN_READS' {
        //these options from pbmm2 CSS preset
        ext.args = "-k19 -w10 -O5,56 -E4,1 -A2 -B5 -z400,50 -r2000 --lj-min-ratio 0.5"
        ext.prefix = { "${meta.id}.reads" }
        publishDir = [
            path: { "${params.outdir}/purging/coverage" },
            mode: params.publish_dir_mode,
            pattern: ".*paf"
        ]
    }

    withName: '.*PURGE_DUPS_PRI:PURGEDUPS_PBCSTAT' {
        publishDir = [
            path: { "${params.outdir}/purging/coverage" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*PURGE_DUPS_PRI:GET_CALCUTS_PARAMS' {
        publishDir = [
            path: { "${params.outdir}/purging/coverage" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*PURGE_DUPS_PRI:PURGEDUPS_CALCUTS' {
        publishDir = [
            path: { "${params.outdir}/purging/coverage" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*PURGE_DUPS_PRI:PURGEDUPS_SPLITFA' {
        ext.prefix = "self_aln"
        publishDir = [
            path: { "${params.outdir}/purging/split_aln" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*PURGE_DUPS_PRI:MINIMAP2_ALIGN_ASSEMBLY' {
        ext.args   = "-xasm5 -DP"
        ext.prefix = "self_aln"
        publishDir = [
            path: { "${params.outdir}/purging/split_aln" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*PURGE_DUPS_PRI:PURGEDUPS_PURGEDUPS' {
        ext.args   = "-2"
        publishDir = [
            path: { "${params.outdir}/purging/purge_dups" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*PURGE_DUPS_PRI:PURGEDUPS_GETSEQS' {
        ext.prefix = { "${meta.prefix}" }
        publishDir = [
            [
                path: { "${params.outdir}/purging/seqs" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
                path: { "${params.outdir}/purging/" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.contains('purged.fa') ? 'purged.fa' : null }
            ]
        ]
    }

    withName: '.*PURGE_DUPS_ALT:MINIMAP2_ALIGN_READS' {
        ext.prefix = { "${meta.id}.reads" }
        publishDir = [
            path: { "${params.outdir}/purging/coverage.htigs" },
            mode: params.publish_dir_mode,
            pattern: ".*paf"
        ]
    }

    withName: '.*PURGE_DUPS_ALT:PURGEDUPS_PBCSTAT' {
        publishDir = [
            path: { "${params.outdir}/purging/coverage.htigs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    withName: '.*PURGE_DUPS_ALT:GET_CALCUTS_PARAMS' {
        publishDir = [
            path: { "${params.outdir}/purging/coverage.htigs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*PURGE_DUPS_ALT:PURGEDUPS_CALCUTS' {
        publishDir = [
            path: { "${params.outdir}/purging/coverage.htigs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*PURGE_DUPS_ALT:PURGEDUPS_SPLITFA' {
        ext.prefix = "self_aln"
        publishDir = [
            path: { "${params.outdir}/purging/split_aln.htigs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*PURGE_DUPS_ALT:MINIMAP2_ALIGN_ASSEMBLY' {
        ext.prefix = "self_aln"
        publishDir = [
            path: { "${params.outdir}/purging/split_aln.htigs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*PURGE_DUPS_ALT:PURGEDUPS_PURGEDUPS' {
        publishDir = [
            path: { "${params.outdir}/purging/purge_dups.htigs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*PURGE_DUPS_ALT:PURGEDUPS_GETSEQS' {
        publishDir = [
            [
                path: { "${params.outdir}/purging/seqs.htigs" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
                path: { "${params.outdir}/purging/" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.contains('purged.fa') ? 'purged.htigs.fa' : null }
            ]
        ]
    }

    withName: '.*GENOME_STATISTICS_PURGED:GFASTATS_PRI' {
        ext.prefix = { "purged" }
        publishDir = [
            path: { "${params.outdir}/purging" },
            mode: params.publish_dir_mode,
            pattern: '*assembly_summary'
        ]
    }

    withName: '.*GENOME_STATISTICS_PURGED:GFASTATS_HAP' {
        ext.prefix = { "purged.htigs" }
        publishDir = [
            path: { "${params.outdir}/purging" },
            mode: params.publish_dir_mode,
            pattern: '*assembly_summary'
        ]
    }

    withName: '.*GENOME_STATISTICS_PURGED:BUSCO' {
        publishDir = [
            path: { "${params.outdir}/purging/${meta.id}.purged.busco" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*GENOME_STATISTICS_PURGED:MERQURYFK_MERQURYFK' {
        publishDir = [
            path: { "${params.outdir}/purging/${meta.id}.purged.ccs.merquryk" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    // End of Set up of the purging pipeline


    // Set up of the polishing pipeline

    withName: LONGRANGER_MKREF {
        publishDir = [
            path: { "${params.outdir}/polishing" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: LONGRANGER_ALIGN {
        ext.args = "--disable-ui --nopreflight"
        if(System.getenv('GITHUB_ACTION') != null ) {
            container = "ghcr.io/sanger-tol/longranger:2.2.2-c3"
        }
        publishDir = [
            path: { "${params.outdir}/polishing" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BED_CHUNKS {
        publishDir = [
            path: { "${params.outdir}/polishing/chunks" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FREEBAYES {
        publishDir = [
            path: { "${params.outdir}/polishing/vcf" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MERGE_FREEBAYES {
        publishDir = [
            path: { "${params.outdir}/polishing/" },
            mode: params.publish_dir_mode,
            pattern: "*merged*"
        ]
    }

    withName: BCFTOOLS_CONSENSUS {
        // Filter by mapping quality, keep alt-alt het and alt-alt hom,
        // keep longer allele
        ext.args = '-i\'QUAL>1 && (GT="AA" || GT="Aa")\' -Hla'
        ext.prefix = { "${meta.id}.consensus" }
        publishDir = [
            path: { "${params.outdir}/polishing/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BCFTOOLS_INDEX {
        ext.args = '--tbi'
    }

    withName: BCFTOOLS_VIEW {
        // Dont keep command line information, keep reference allele or
        // suggested alternative if reference is N
        ext.args = '--no-version -e\'type="ref"||REF~"N"\''
    }

    withName: BCFTOOLS_NORM {
        ext.args = '--no-version'
    }

    withName: SEQTK_SUBSEQ_PRIMARY {
        ext.prefix = 'primary'
        publishDir = [
            path: { "${params.outdir}/polishing" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "primary.fa" }
        ]
    }

    withName: SEQTK_SUBSEQ_HAPLOTIGS {
        ext.prefix = 'haplotigs'
        publishDir = [
            path: { "${params.outdir}/polishing" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "haplotigs.fa" }
        ]
    }

    withName: '.*GENOME_STATISTICS_POLISHED:GFASTATS_PRI' {
        ext.prefix = { "primary" }
        publishDir = [
            path: { "${params.outdir}/polishing" },
            mode: params.publish_dir_mode,
            pattern: '*assembly_summary'
        ]
    }

    withName: '.*GENOME_STATISTICS_POLISHED:GFASTATS_HAP' {
        ext.prefix = { "haplotigs" }
        publishDir = [
            path: { "${params.outdir}/polishing" },
            mode: params.publish_dir_mode,
            pattern: '*assembly_summary'
        ]
    }


    withName: '.*GENOME_STATISTICS_POLISHED:BUSCO' {
        publishDir = [
            path: { "${params.outdir}/polishing/${meta.id}.polished.busco" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*GENOME_STATISTICS_POLISHED:MERQURYFK_MERQURYFK' {
        publishDir = [
            path: { "${params.outdir}/polishing/${meta.id}.polished.ccs.merquryk" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    // End of Set up of the polishing pipeline

    // Set up of the Hi-C read mapping pipeline
    withName: BWAMEM2_MEM {
        // Set read group in the output file header as specified in meta;
        // If the data is HiC then set for split alignment, take the alignment
        // with the smallest coordinate aas primary, skip mate rescue,
        // skip pairing, perform smart pairing,
        // and append FASTQ comment to SAM output
        ext.args = { ( "${meta.datatype}" == "hic" ) ? "-5SPCp -R ${meta.read_group}" : "-R ${meta.read_group}" }
    }

    withName: SAMTOOLS_FASTQ {
        // Filter out reaads which fail platform/vendor quality checks;
        // dont append /1 and /2 to the read name;
        // copy RG, BC and QT tags to the FASTQ header line
        ext.args = '-F0xB00 -nt'
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: SAMTOOLS_COLLATE {
        ext.prefix = { "${meta.id}.collated" }
    }

    withName: SAMTOOLS_FIXMATE {
        // Add mate score tag
        ext.args = '-mp'
        ext.prefix = { "${meta.id}.fixmate" }
    }

    withName: SAMTOOLS_MARKDUP {
        ext.prefix = { "${meta.id}.markdup" }
    }

    withName: SAMTOOLS_VIEW {
        ext.args = "--output-fmt cram"
    }

    withName: SAMTOOLS_VIEW_MARKDUP {
        // Return compressed BAM output
        // Filter out reads classified as     not primary alignment (0x100)
        // read fails platform/vendor quality checks (0x200)
        // read is PCR or optical duplicate (0x400)
        // supplementary alignment (0x800)
        ext.args = "-u -F0xf00 -e 'mapq>=10' --output-fmt bam"
    }

    withName: '.*ALIGN_SHORT:MARKDUP_STATS:SAMTOOLS_VIEW_MARKDUP' {
        publishDir = [
            path: { "${params.outdir}/scaffolding" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*ALIGN_SHORT:MARKDUP_STATS:BED_SORT' {
        publishDir = [
            path: { "${params.outdir}/scaffolding" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*ALIGN_SHORT:MARKDUP_STATS:CONVERT_STATS:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/scaffolding" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*ALIGN_SHORT:MARKDUP_STATS:CONVERT_STATS:SAMTOOLS_STATS' {
        publishDir = [
            path: { "${params.outdir}/scaffolding" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*ALIGN_SHORT:MARKDUP_STATS:CONVERT_STATS:SAMTOOLS_FLAGSTAT' {
        publishDir = [
            path: { "${params.outdir}/scaffolding" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*ALIGN_SHORT:MARKDUP_STATS:CONVERT_STATS:SAMTOOLS_IDXSTATS' {
        publishDir = [
            path: { "${params.outdir}/scaffolding" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: GNU_SORT {
        ext.args = '-k4,4'
    }
    // End of Set up of the Hi-C read mapping pipeline

    // Set up of the scffolding pipeline
    withName: 'YAHS' {
        // Skip the initial assembly error correction step
        ext.args = '--no-contig-ec'
        publishDir = [
            path: { "${params.outdir}/scaffolding/yahs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'COOLER_CLOAD' {
        // Positions in the input file are zero-based;
        // chrom1 field number (one-based) is 2;
        // pos1 field number (one-based) is 3;
        // chrom2 field number (one-based) is 6;
        // pos2 field number (one-based) is 7
        ext.args = 'pairs -0 -c1 2 -p1 3 -c2 6 -p2 7'
        publishDir = [
            path: { "${params.outdir}/scaffolding/yahs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PRETEXTSNAPSHOT' {
        // Make one plot containing all sequences
        ext.args = '--sequences \"=full\"'
        publishDir = [
            path: { "${params.outdir}/scaffolding/yahs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'JUICER_TOOLS_PRE' {
        ext.juicer_tools_jar = 'juicer_tools.1.9.9_jcuda.0.8.jar'
        ext.juicer_jvm_params = '-Xms6g -Xmx48g'
        publishDir = [
            path: { "${params.outdir}/scaffolding/yahs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'JUICER_PRE' {
        ext.args2 = "LC_ALL=C sort -k2,2d -k6,6d -S50G | awk '\$3>=0 && \$7>=0'"
        publishDir = [
            path: { "${params.outdir}/scaffolding/yahs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*GENOME_STATISTICS_SCAFFOLDS:GFASTATS_PRI' {
        ext.prefix = { "${meta.id}_scaffolds_final" }
        publishDir = [
            path: { "${params.outdir}/scaffolding/yahs/" },
            mode: params.publish_dir_mode,
            pattern: '*assembly_summary'
        ]
    }

    withName: '.*GENOME_STATISTICS_SCAFFOLDS:BUSCO' {
        publishDir = [
            path: { "${params.outdir}/scaffolding/yahs/${meta.id}_scaffolds_final.busco" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*GENOME_STATISTICS_SCAFFOLDS:MERQURYFK_MERQURYFK' {
        publishDir = [
            path: { "${params.outdir}/scaffolding/${meta.id}.${meta.id}_scaffolds_final.ccs.merquryk" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    // End of Set up of the scaffolding  pipeline

    //Set up of assmebly stats subworkflow
    withName: 'BUSCO' {
        ext.args = "--mode genome"
    }
    //End of Set up of assmebly stats subworkflow

}
