/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run sanger-tol/genomeassembly -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '6.h'
    ]

    withName: JUICERTOOLS_PRE {
        // Some test instances fail with any value > 25000
        ext.args = { " -r 20000" }
    }

    withName: 'YAHS' {
        // Skip the initial assembly error correction step
        ext.args = '-r 1000,2000,5000'
    }

    withName: '.*OATK' {
        // Set kmer size and minimal coverage
        ext.args = "-k1001 -c5 -Ttmp"
    }

}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // GHA configuration
    if(System.getenv('GITHUB_ACTION')) {
        polishing_longranger_container_path = "ghcr.io/sanger-tol/longranger:2.2.2-c5"
    }

    // Input data
    input = "${projectDir}/assets/test.yaml"

    // Assembly options
    enable_hic_phasing               = true
    hifiasm_error_correction_options = "-f0"

    // Polishing options
    enable_polishing       = false
    polishing_n_chunks_bed = 2

    // Hi-C mapping options
    hic_mapping_cram_chunk_size = 100
}
