/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run sanger-tol/genomeassembly -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {

    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '6.h'
    ]

}

params {

    config_profile_name        = 'Test profile - ONT assembly'
    config_profile_description = 'Minimal test dataset to check ONT assembly pacbio+UL ONT assembly, plastid assembly'

    // Input data
    genomic_data = "${projectDir}/assets/local_tests/dhQueRobu3_genomic.yaml"
    assembly_specs = "${projectDir}/assets/local_tests/dhQueRobu3_spec.yaml"

}
