/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run sanger-tol/genomeassembly -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Github test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    max_cpus   = 4
    max_memory = '15.GB'
    max_time   = '6.h'
    // Limit resources so that this can run on GitHub Actions

    // Input data
    input = "${projectDir}/assets/test_github.yaml"
    bed_chunks_polishing = 2
    polishing_on = false
    hifiasm_hic_on = true
    organelles_on = true
}
