
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run sanger-tol/genomeassembly -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile - gsMetZobe1'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    genomic_data = "${projectDir}/assets/full_tests/test_gsMetZobe1.genomic.yaml"
    assembly_specs = "${projectDir}/assets/full_tests/test_gsMetZobe1.spec.yaml"
}
