nextflow.enable.moduleBinaries = true

process {
    withName: MINIMAP2_ALIGN_ASSEMBLY {
        ext.args   = { params.minimap2_assembly_args }
    }

    withName: FASTXALIGN_MINIMAP2ALIGN {
        ext.args = { params.minimap2_reads_args }
    }

    withName: PURGEDUPS_CALCUTS {
        ext.args = { params.purgedups_calcuts_args }
    }

    withName: PURGEDUPS_PURGEDUPS {
        ext.args = { params.purgedups_purgedups_args }
    }

}
