process {
    withName: 'LONGRANGER_MKREF' {
        // Internally accessible to for Sanger only
        container = { env('GITHUB_ACTION') ?
            "ghcr.io/sanger-tol/longranger:2.2.2-c5" :
            "gitlab-registry.internal.sanger.ac.uk/tol-it/software/docker-images/longranger:2.2.2-c5"
        }
    }

	withName: 'LONGRANGER_ALIGN' {
        ext.args = params.longranger_align_args
        memory   =  15.Gb

        // Internally accessible to for Sanger only
        container = { env('GITHUB_ACTION') ?
            "ghcr.io/sanger-tol/longranger:2.2.2-c5" :
            "gitlab-registry.internal.sanger.ac.uk/tol-it/software/docker-images/longranger:2.2.2-c5"
        }
    }
}
